= form_with model: @article, remote: false do |f|
  %br/
  = f.label :header
  = f.text_field :header
  %br/
  = f.label :subheader
  = f.text_area :subheader
  %br/
  = f.label :byline
  = f.text_area :byline
  %br/
  = f.label :body
  = f.text_area :body
  %br/
  = f.collection_select :category_id, @categories, :id, :name
  %br/
  = f.submit "Create Article", class: "btn btn-success" 